

 .popup-item{
    width: 498px;
    height: 610px;
    border-radius: 16px;
    background-color: #ffffff;
 
    overflow: hidden;
    position: relative;
 }

 .popup-item__image {
  display: block;
  max-height: 498px;
  min-width: 498px;
 }

 .popup-item__footer {
  display: flex;
  justify-content: space-between;
   text-align: left;
   margin-left: 32px;
   font-size: 20px;
   
 }



 .popup-item__title{
    margin: 25px 0 12px;
    font-size: 20px;
   font-weight: 700;
 }

 .popup-item__weather{
    margin:  0 0 auto;
   
   font-weight: 700;
 }

 .popup-item__delete-button {
  color: red;
  margin: 25px 32px 0 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  max-height: 24px;
  font-size: 20px;
  font-family: 'CabinetGroteskMed';
 }

 .item__delete-button_visible {
   visibility: visible;
 }

 .item__delete-button_hidden {
   visibility: hidden;
 }