.side-bar {
display: flex;
margin-left: 40px;
}

.side-bar__name {
font-size: 20px;
font-weight: 700;
margin: 0 16px 0 ;
}

.side-bar__avatar {
height: 56px;
width: 56px;
}

.side-bar__avatar:hover {
opacity: 80%;
}